/pixelgram-db/node_modules/
/pixelgram-api/node_modules/
/pixelgram-client/node_modules/
/pixelgram-ws/node_modules/
/pixelgram-frontend/node_modules/
/pixelgram-frontend/env.sh
/pixelgram-deploy/vagrant_ansible/roles/pixelgram/files/upstart/
/pixelgram-deploy/vagrant_ansible/ssh/*
/pixelgram-deploy/Docker/env/production.env
/pixelgram-deploy/Docker/env/develop.env